<form class="form-signin">
  <h2>Please sign in</h2>
  <div class="control-group" {{bindAttr class="errors.email:error"}}>
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {{view Em.TextField valueBinding="email" name="email"}}
      <span class="help-inline">
        {{errors.email}}
      </span>
    </div>
  </div>
  <div class="control-group" {{bindAttr class="errors.password:error"}}>
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      {{view Em.TextField type="password" valueBinding="password"}}
    </div>
  </div>
  <button type="submit" {{action save}} class="btn btn-large btn-primary">Sign in</button>
  or {{#linkTo "users.new"}}Create a new account{{/linkTo}}
</form>
