<form class="form-signin">
  <h2>Create an Account</h1>
  <div class="control-group" {{bindAttr class="errors.email:error"}}>
    <label class="control-label" for="email">Email</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="email" elementId="email"}}
      <span class="help-inline">
        {{errors.email}}
      </span>
    </div>
  </div>
  <div class="control-group" {{bindAttr class="errors.password:error"}}>
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      {{view Ember.TextField type="password" elementId="password" valueBinding="password"}}
      <span class="help-inline">
        {{errors.password}}
      </span>
    </div>
  </div>
  <div class="control-group" {{bindAttr class="errors.passwordConfirmation:error"}}>
    <label class="control-label" for="passwordConfirmation">Password Confirmation</label>
    <div class="controls">
      {{view Ember.TextField type="password" elementId="passwordConfirmation" valueBinding="passwordConfirmation" }}
      <span class="help-inline">
        {{errors.passwordConfirmation}}
      </span>
    </div>
  </div>
  <button type="submit" {{action save}} class="btn btn-large btn-primary">Create an account</button>
  or {{#linkTo "sessions.new"}}Sign in{{/linkTo}}
</form>
